<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-bs-theme="dark"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>ERPSystem</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />

        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/v3/images/favicon.ico}">

        <!-- Theme Config Js -->
        <script th:src="@{/v3/js/hyper-config.js}"></script>

        <!-- App css -->
        <link th:href="@{/v3/css/app-creative.min.css}" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons css -->
        <link th:href="@{/v3/css/icons.min.css}" rel="stylesheet" type="text/css" />

        <!-- Datatables css -->
        <link th:href="@{/v3/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/v3/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css}" rel="stylesheet" type="text/css" />

        <!-- Quill css -->
        <link th:href="@{/v3/vendor/quill/quill.core.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/v3/vendor/quill/quill.snow.css}" rel="stylesheet" type="text/css" />

        
    </head>

    <body>
        <!-- Begin page -->
        <div class="wrapper">

            <!-- ========== Topbar Start ========== -->
            <div class="navbar-custom">
                <div class="topbar container-fluid">
                    <div class="d-flex align-items-center gap-lg-2 gap-1">

                        <!-- Topbar Brand Logo -->
                        <div class="logo-topbar">
                            <!-- Logo light -->
                            <a th:href="@{'/' + ${orgId}}" class="logo-light">
                                <span class="logo-lg">
                                    <img th:src="@{/v3/images/logo.png}" alt="logo">
                                </span>
                                <span class="logo-sm">
                                    <img th:src="@{/v3/images/logo-sm.png}" alt="small logo">
                                </span>
                            </a>

                            <!-- Logo Dark -->
                            <a th:href="@{'/' + ${orgId}}" class="logo-dark">
                                <span class="logo-lg">
                                    <img th:src="@{/v3/images/logo-dark.png}" alt="dark logo">
                                </span>
                                <span class="logo-sm">
                                    <img th:src="@{/v3/images/logo-dark-sm.png}" alt="small logo">
                                </span>
                            </a>
                        </div>

                        <!-- Sidebar Menu Toggle Button -->
                        <button class="button-toggle-menu">
                            <i class="mdi mdi-menu"></i>
                        </button>

                        <!-- Horizontal Menu Toggle Button -->
                        <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                    </div>

                    <ul class="topbar-menu d-flex align-items-center gap-3">
                        <li class="d-none d-sm-inline-block">
                            <div class="nav-link" id="light-dark-mode" data-bs-toggle="tooltip" data-bs-placement="left" title="Theme Mode">
                                <i class="ri-moon-line font-22"></i>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img th:src="@{v3/images/users/avatar-1.jpg}" alt="user-image" width="32" class="rounded-circle">
                                </span>
                                <span class="d-lg-flex flex-column gap-1 d-none">
                                    <h5 class="my-0" sec:authentication="name"/>
                                    <h6 class="my-0 fw-normal">Founder</h6>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="mdi mdi-account-edit me-1"></i>
                                    <span>Settings</span>
                                </a>

                                <!-- item-->
                                <a th:href="@{/logout}" class="dropdown-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ========== Topbar End ========== -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">

                <!-- Brand Logo Light -->
                <a th:href="@{'/' + ${orgId}}" class="logo logo-light">
                    <span class="logo-lg">
                        <img th:src="@{/v3/images/logo.png}" alt="logo">
                    </span>
                    <span class="logo-sm">
                        <img th:src="@{/v3/images/logo-sm.png}" alt="small logo">
                    </span>
                </a>

                <!-- Brand Logo Dark -->
                <a th:href="@{'/' + ${orgId}}" class="logo logo-dark">
                    <span class="logo-lg">
                        <img th:src="@{/v3/images/logo-dark.png}" alt="dark logo">
                    </span>
                    <span class="logo-sm">
                        <img th:src="@{/v3/images/logo-dark-sm.png}" alt="small logo">
                    </span>
                </a>

                <!-- Sidebar Hover Menu Toggle Button -->
                <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
                    <i class="ri-checkbox-blank-circle-line align-middle"></i>
                </div>

                <!-- Full Sidebar Menu Close Button -->
                <div class="button-close-fullsidebar">
                    <i class="ri-close-fill align-middle"></i>
                </div>

                <!-- Sidebar -left -->
                <div class="h-100" id="leftside-menu-container" data-simplebar>
                    <!--- Sidemenu -->
                    <ul class="side-nav">
                        <li class="side-nav-title">Summary</li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId}}" class="side-nav-link">
                                <i class="uil-home-alt"></i>
                                <span class="badge bg-success float-end">5</span>
                                <span> Statistics </span>
                            </a>
                        </li>

                        <li class="side-nav-title">Navigation</li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId} + '/warehouse/sales'}" class="side-nav-link">
                                <i class="uil-copy-alt"></i>
                                <span> Sales </span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId} + '/warehouse/storage'}" class="side-nav-link">
                                <i class="uil-window"></i>
                                <span> Storage </span>
                            </a>
                        </li>

                        <li class="side-nav-title">Management</li>

                        <li class="side-nav-item menuitem-active">
                            <a data-bs-toggle="collapse" aria-expanded="true" aria-controls="sidebarProducts" class="side-nav-link">
                                <i class="uil-folder-plus"></i>
                                <span> Products </span>
                            </a>
                            <div class="collapse show" id="sidebarProducts">
                                <ul class="side-nav-second-level">
                                    <li class="side-nav-item">
                                        <a data-bs-toggle="collapse" href="#sidebarAddProduct" aria-expanded="false" aria-controls="sidebarAddProduct">
                                            <span> Add category </span>
                                            <span class="badge text-bg-primary">+</span>
                                        </a>
                                        <div class="collapse" id="sidebarAddProduct">
                                            <ul class="side-nav-third-level">
                                                <li>
                                                    <div class="me-3">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control form-control-sm" id="category-input" placeholder="Category:">
                                                            <button type="button" class="btn btn-sm btn-success" onclick="addCategory()"><i class="mdi mdi-thumb-up-outline"></i></button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li th:each="category : ${categories}" th:id="'category-' + ${category.getCategoryId()}">
                                        <a th:href="'/' + ${orgId} + '/item?category=' + ${category.getCategoryId()}">
                                            <span th:text="${category.getCategoryName()}"/>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!--- Administer2-->
                        <li class="side-nav-title">Administer</li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId} + '/organization'}" class="side-nav-link">
                                <i class="ri-team-line"></i>
                                <span> Organization </span>
                            </a>
                        </li>
                        <!--- End Administer2-->
                    </ul>
                    <!--- End Sidemenu -->

                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- ========== Left Sidebar End ========== -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                            <li class="breadcrumb-item active">Product card</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Product card</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <!-- File Upload -->
                                                <form action="/" method="post" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews" data-upload-preview-template="#uploadPreviewTemplate" style="height:100%;">
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple />
                                                    </div>
                                                    <div style="height: 100%;display: flex;justify-content: center;align-items: center;">
                                                        <div class="dz-message needsclick" >
                                                            <i class="h1 text-muted ri-upload-cloud-2-line"></i>
                                                            <h3>Drop files here or click to upload.</h3>
                                                            <span class="text-muted font-13">(This is just a demo dropzone. Selected files are
                                                                <strong>not</strong> actually uploaded.)</span>
                                                        </div>
                                                    </div>
                                                </form>

                                                <!-- Preview -->
                                                <div class="dropzone-previews mt-3" id="file-previews"></div>

                                                <!-- file preview template -->
                                                <div class="d-none" id="uploadPreviewTemplate">
                                                    <div class="card mt-1 mb-0 shadow-none border">
                                                        <div class="p-2">
                                                            <div class="row align-items-center">
                                                                <div class="col-auto">
                                                                    <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                                                                </div>
                                                                <div class="col ps-0">
                                                                    <a href="javascript:void(0);" class="text-muted fw-bold" data-dz-name></a>
                                                                    <p class="mb-0" data-dz-size></p>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <!-- Button -->
                                                                    <a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                                                        <i class="ri-close-line"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                          
                                            </div> <!-- end col -->
                                            <div class="col-lg-7">
                                                <form class="ps-lg-4">
                                                    <!-- Product title -->
                                                    <div class="mb-3">
                                                        <label for="simpleinput" class="form-label">Name of position</label>
                                                        <input type="text" id="simpleinput" class="form-control">
                                                    </div>                                          

                                                    <!-- Product description -->
                                                    <div class="mb-3">
                                                        <label for="example-number" class="form-label">The cost of the position</label>
                                                        <input class="form-control" id="example-number" type="number" name="number">
                                                    </div>                                                                                         
                                                    
                                                    <!-- Product information -->                                                    
                                                    <div id="snow-editor" style="height: 300px;">
                                                        <h3><span class="ql-size-large">Hello World!</span></h3>
                                                        <p><br></p>
                                                        <h3>This is an simple editable area.</h3>
                                                        <p><br></p>
                                                        <ul>
                                                            <li>
                                                                Select a text to reveal the toolbar.
                                                            </li>
                                                            <li>
                                                                Edit rich document on-the-fly, so elastic!
                                                            </li>
                                                        </ul>
                                                        <p><br></p>
                                                        <p>
                                                            End of simple area
                                                        </p>
                                                    </div>                                                                           
                                                </form>                                              
                                            </div> <!-- end col -->                                          
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        </div>
                        
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © SMART&Co
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-md-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->
            </div>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->       
        
        <!-- Vendor js -->
        <script th:src="@{/v3/js/vendor.min.js}"></script>

        <!-- App js -->
        <script th:src="@{/v3/js/app.min.js}"></script>

        <!-- Datatables js -->
        <script th:src="@{/v3/vendor/datatables.net/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/v3/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js}"></script>
        <script th:src="@{/v3/vendor/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/v3/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js}"></script>

        <!-- Datatable Init js -->
        <script th:src="@{/v3/js/pages/demo.datatable-init.js}"></script>

        <!-- Input Mask Plugin js -->
        <script th:src="@{/v3/vendor/jquery-mask-plugin/jquery.mask.min.js}"></script>

        <!-- plugin js -->
        <script th:src="@{/v3/vendor/dropzone/min/dropzone.min.js}"></script>

        <!-- init js -->
        <script th:src="@{/v3/js/api/item-script.js}"></script>
        <script th:src="@{/v3/js/api/category-script.js}"></script>
        <script th:src="@{/v3/js/ui/component.fileupload.js}"></script>

        <!-- quill js -->
        <script th:src="@{/v3/vendor/quill/quill.min.js}"></script>
        <!-- quill Init js-->
        <script th:src="@{/v3/js/pages/demo.quilljs.js}"></script>

    </body>
</html> 