<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-bs-theme="dark"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>ERPSystem</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />

        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/v3/images/favicon.ico}">

        <!-- Theme Config Js -->
        <script th:src="@{/v3/js/hyper-config.js}"></script>

        <!-- App css -->
        <link th:href="@{/v3/css/app-creative.min.css}" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons css -->
        <link th:href="@{/v3/css/icons.min.css}" rel="stylesheet" type="text/css" />

        <!-- Datatables css -->
        <link th:href="@{/v3/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/v3/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css}" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <!-- Begin page -->
        <div class="wrapper">

            <!-- ========== Topbar Start ========== -->
            <div class="navbar-custom">
                <div class="topbar container-fluid">
                    <div class="d-flex align-items-center gap-lg-2 gap-1">

                        <!-- Topbar Brand Logo -->
                        <div class="logo-topbar">
                            <!-- Logo light -->
                            <a th:href="@{'/' + ${orgId}}" class="logo-light">
                                <span class="logo-lg">
                                    <img th:src="@{/v3/images/logo.png}" alt="logo">
                                </span>
                                <span class="logo-sm">
                                    <img th:src="@{/v3/images/logo-sm.png}" alt="small logo">
                                </span>
                            </a>

                            <!-- Logo Dark -->
                            <a th:href="@{'/' + ${orgId}}" class="logo-dark">
                                <span class="logo-lg">
                                    <img th:src="@{/v3/images/logo-dark.png}" alt="dark logo">
                                </span>
                                <span class="logo-sm">
                                    <img th:src="@{v3/images/logo-dark-sm.png}" alt="small logo">
                                </span>
                            </a>
                        </div>

                        <!-- Sidebar Menu Toggle Button -->
                        <button class="button-toggle-menu">
                            <i class="mdi mdi-menu"></i>
                        </button>

                        <!-- Horizontal Menu Toggle Button -->
                        <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                    </div>

                    <ul class="topbar-menu d-flex align-items-center gap-3">
                        <li class="d-none d-sm-inline-block">
                            <div class="nav-link" id="light-dark-mode" data-bs-toggle="tooltip" data-bs-placement="left" title="Theme Mode">
                                <i class="ri-moon-line font-22"></i>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img th:src="@{/v3/images/users/avatar-1.jpg}" alt="user-image" width="32" class="rounded-circle">
                                </span>
                                <span class="d-lg-flex flex-column gap-1 d-none">
                                    <h5 class="my-0" sec:authentication="name"/>
                                    <h6 class="my-0 fw-normal">Founder</h6>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <i class="mdi mdi-account-edit me-1"></i>
                                    <span>Settings</span>
                                </a>

                                <!-- item-->
                                <a th:href="@{/logout}" class="dropdown-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ========== Topbar End ========== -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">

                <!-- Brand Logo Light -->
                <a th:href="@{'/' + ${orgId}}" class="logo logo-light">
                    <span class="logo-lg">
                        <img th:src="@{/v3/images/logo.png}" alt="logo">
                    </span>
                    <span class="logo-sm">
                        <img th:src="@{/v3/images/logo-sm.png}" alt="small logo">
                    </span>
                </a>

                <!-- Brand Logo Dark -->
                <a th:href="@{'/' + ${orgId}}" class="logo logo-dark">
                    <span class="logo-lg">
                        <img th:src="@{/v3/images/logo-dark.png}" alt="dark logo">
                    </span>
                    <span class="logo-sm">
                        <img th:src="@{/v3/images/logo-dark-sm.png}" alt="small logo">
                    </span>
                </a>

                <!-- Sidebar Hover Menu Toggle Button -->
                <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
                    <i class="ri-checkbox-blank-circle-line align-middle"></i>
                </div>

                <!-- Full Sidebar Menu Close Button -->
                <div class="button-close-fullsidebar">
                    <i class="ri-close-fill align-middle"></i>
                </div>

                <!-- Sidebar -left -->
                <div class="h-100" id="leftside-menu-container" data-simplebar>
                    <!--- Sidemenu -->
                    <ul class="side-nav">
                        <li class="side-nav-title">Summary</li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId}}" class="side-nav-link">
                                <i class="uil-home-alt"></i>
                                <span class="badge bg-success float-end">5</span>
                                <span> Statistics </span>
                            </a>
                        </li>

                        <li class="side-nav-title">Navigation</li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId} + '/warehouse/sales'}" class="side-nav-link">
                                <i class="uil-copy-alt"></i>
                                <span> Sales </span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId} + '/warehouse/storage'}" class="side-nav-link">
                                <i class="uil-window"></i>
                                <span> Storage </span>
                            </a>
                        </li>

                        <li class="side-nav-title">Management</li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId} + '/item'}" class="side-nav-link">
                                <i class="uil-folder-plus"></i>
                                <span> Products </span>
                            </a>
                        </li>

                        <!--- Administer2-->
                        <li class="side-nav-title">Administer</li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId} + '/organization'}" class="side-nav-link">
                                <i class="ri-team-line"></i>
                                <span> Organization </span>
                            </a>
                        </li>
                        <!--- End Administer2-->
                    </ul>
                    <!--- End Sidemenu -->

                    <div class="clearfix"></div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->


            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- button for bardcode -->
                        <div id="multiple-one" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-oneModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <!-- Tabs -->
                                        <ul class="nav nav-tabs nav-justified nav-bordered mb-3">
                                            <li class="nav-item">
                                                <a href="#home-b2" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                                                    <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                                    <span class="d-none d-md-block">Manually</span> <!-- Home -->
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#profile-b2" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                                    <i class="mdi mdi-account-circle d-md-none d-block"></i>
                                                    <span class="d-none d-md-block">Scanner</span>  <!-- Profile -->
                                                </a>
                                            </li>                                                                
                                        </ul>    
                                        
                                        <div class="tab-content" >                                            
                                            <div class="tab-pane show active" id="home-b2" >
                                                <label for="item-barcode" class="form-label">Barcode</label>
                                                <input type="text" id="item-barcode" class="form-control" maxlength="13" data-toggle="maxlength">
                                            </div>                                          
                                            
                                            <div class="tab-pane " id="profile-b2" >

                                            </div>                                                                
                                        </div>

                                        <!--End Tabs -->  
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-target="#multiple-two" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        
                        <!-- Modal -->
                        <div id="multiple-two" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-twoModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content modal-filled bg-success">
                                    <div class="modal-body p-4">
                                        <div class="text-center">
                                            <i class="ri-check-line h1"></i>
                                            <h4 class="mt-2">Well Done!</h4>
                                            <p class="mt-3">Barcode was successfully added</p>
                                            <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal" onclick="location.reload()">Done</button>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <div id="warning-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-body p-4">
                                        <div class="text-center">
                                            <i class="ri-alert-line h1 text-warning"></i>
                                            <h4 class="mt-2">The barcode could not be added</h4>
                                            <p class="mt-3">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                                            <button type="button" class="btn btn-warning my-2" data-bs-dismiss="modal">Continue</button>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->


                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                            <li class="breadcrumb-item active">Product card</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Product card</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div id="carouselExampleIndicators" class="carousel slide mb-3">
                                                    <div class="carousel-indicators">
                                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                                    </div>
                                                    <div class="carousel-inner">
                                                        <div th:each="image, i : ${item.getItemImages()}" th:class="${i.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                                            <img th:src="'/img/' + ${image.getFileName()}" class="d-block w-100" alt="...">
                                                        </div>
                                                    </div>
                                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="visually-hidden">Previous</span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="visually-hidden">Next</span>
                                                    </button>
                                                </div>
                                                <!-- Product image -->
                                                <div class="d-lg-flex d-none justify-content-center">
                                                    <a th:each="image, i : ${item.getItemImages()}" th:data-bs-slide-to="${i.index}" data-bs-target="#carouselExampleIndicators" class="ms-2">
                                                        <img th:src="'/img/' + ${image.getFileName()}" class="img-fluid img-thumbnail p-2" style="max-width: 75px;" alt="Product-img" />
                                                    </a>
                                                </div>
                                            </div> <!-- end col -->
                                            <div class="col-lg-7">
                                                <form class="ps-lg-4">
                                                    <!-- Product title -->
                                                    <h3 class="mt-0">
                                                        <span th:text="${item.getItemName()}"/>
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <i class="mdi mdi-square-edit-outline ms-2"></i>
                                                        </a>
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <span class="badge badge-success-lighten ms-2">Instock</span>
                                                        </a>
                                                    </h3>
                                                    <p class="mb-1" th:text="'Added Date: ' + ${item.getItemCreationDate().toLocaleString()}"/>

                                                    <!-- Product description -->
                                                    <div class="mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h4 class="font-14" th:text="'Purchase Price: ' + ${item.getItemPurchasePrice()} + ' ₽'" />
                                                            </div>  
                                                            <div class="col-md-8">
                                                                <div class="d-flex">
                                                                    <button type="button" class="btn btn-dark ms-2" data-bs-toggle="modal" data-bs-target="#multiple-one">Add barcode</button>
                                                                </div>
                                                            </div>                                                         
                                                        </div>                                                    
                                                    </div>                                                                                         
                                                    
                                                    <!-- Product information -->
                                                    <div class="mt-2">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <h6 class="font-14">Available Stock:</h6>
                                                                <p class="text-sm lh-150" th:text="${itemQuantity}" />
                                                            </div>
                                                            <div class="col-md-4">
                                                                <h6 class="font-14">Number of Orders:</h6>
                                                                <p class="text-sm lh-150">5,458</p>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <h6 class="font-14">Revenue:</h6>
                                                                <p class="text-sm lh-150">$8,57,014</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Product Specifications -->
                                                    <div class="mt-2">
                                                        <h6 class="font-14">Description</h6>
                                                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, numquam mollitia? Perspiciatis deserunt molestias similique, quidem qui repellat ipsam pariatur excepturi earum iste quo accusamus laborum! Adipisci non debitis velit.
                                                    </div>
                                                </form>                                              
                                            </div> <!-- end col -->                                          
                                        </div> <!-- end row-->

                                        <div class="table-responsive mt-3">
                                            <table class="table table-centered mb-0">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Barcode</th>
                                                        <th>Added date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><img th:src="@{/v3/images/barcode-1.png}" width="50" height="25"></td>
                                                        <td>22020320404924</td>
                                                        <td>27.04.2024</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="table-responsive mt-4">
                                            <table class="table table-bordered table-centered mb-0">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>Shop</th>
                                                        <th>Price</th>
                                                        <th>Stock</th>
                                                        <th>Revenue</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="price : ${itemPrice}">
                                                        <td th:text="${price.getKey().getWarehouseName()}"/>
                                                        <td th:text="${price.getValue()} + ' ₽'"/>
                                                        <td>
                                                            <div class="progress-w-percent mb-0">
                                                                <span class="progress-value">478 </span>
                                                                <div class="progress progress-sm">
                                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 56%;" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>$1,89,547</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        </div>
                        
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © SMART&Co
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-md-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->
            </div>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->

        <!-- Vendor js -->
        <script th:src="@{/v3/js/vendor.min.js}"></script>

        <!-- App js -->
        <script th:src="@{/v3/js/app.min.js}"></script>

        <!-- Datatables js -->
        <script th:src="@{/v3/vendor/datatables.net/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/v3/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js}"></script>
        <script th:src="@{/v3/vendor/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/v3/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js}"></script>

        <!-- Datatable Init js -->
        <script th:src="@{/v3/js/pages/demo.datatable-init.js}"></script>

        <!-- Input Mask Plugin js -->
        <script th:src="@{/v3/vendor/jquery-mask-plugin/jquery.mask.min.js}"></script>
        <!-- Input Max Length js -->
        <script th:src="@{/v3/vendor/bootstrap-maxlength/bootstrap-maxlength.min.js}"></script>


    </body>
</html>