<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-bs-theme="dark"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>ERPSystem - Продажи</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />

        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/v3/images/favicon.ico}">

        <!-- Theme Config Js -->
        <script th:src="@{/v3/js/hyper-config.js}"></script>

        <!-- App css -->
        <link th:href="@{/v3/css/app-creative.min.css}" rel="stylesheet" type="text/css" id="app-style" />

        <!-- Icons css -->
        <link th:href="@{/v3/css/icons.min.css}" rel="stylesheet" type="text/css" />

        <!-- Datatables css -->
        <link th:href="@{/v3/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/v3/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css}" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <!-- Begin page -->
        <div class="wrapper">
            <p hidden="hidden" id="org-id" th:text="${orgId}">

            <!-- ========== Topbar Start ========== -->
            <div class="navbar-custom">
                <div class="topbar container-fluid">
                    <div class="d-flex align-items-center gap-lg-2 gap-1">

                        <!-- Topbar Brand Logo -->
                        <div class="logo-topbar">
                            <!-- Logo light -->
                            <a th:href="@{'/' + ${orgId}}" class="logo-light">
                                <span class="logo-lg">
                                    <img th:src="@{/v3/images/logo.png}" alt="logo">
                                </span>
                                <span class="logo-sm">
                                    <img th:src="@{/v3/images/logo-sm.png}" alt="small logo">
                                </span>
                            </a>

                            <!-- Logo Dark -->
                            <a th:href="@{'/' + ${orgId}}" class="logo-dark">
                                <span class="logo-lg">
                                    <img th:src="@{/v3/images/logo-dark.png}" alt="dark logo">
                                </span>
                                <span class="logo-sm">
                                    <img th:src="@{/v3/images/logo-dark-sm.png}" alt="small logo">
                                </span>
                            </a>
                        </div>

                        <!-- Sidebar Menu Toggle Button -->
                        <button class="button-toggle-menu">
                            <i class="mdi mdi-menu"></i>
                        </button>

                        <!-- Horizontal Menu Toggle Button -->
                        <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                    </div>

                    <ul class="topbar-menu d-flex align-items-center gap-3">
                        <li class="d-none d-sm-inline-block">
                            <div class="nav-link" id="light-dark-mode" data-bs-toggle="tooltip" data-bs-placement="left" title="Theme Mode">
                                <i class="ri-moon-line font-22"></i>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img th:src="@{/v3/images/users/avatar-1.jpg}" alt="user-image" width="32" class="rounded-circle">
                                </span>
                                <span class="d-lg-flex flex-column gap-1 d-none">
                                    <h5 class="my-0" sec:authentication="name"/>
                                    <h6 class="my-0 fw-normal">Founder</h6>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                                <!-- item-->
                                <a th:href="@{'/' + ${orgId} + '/settings'}" class="dropdown-item">
                                    <i class="mdi mdi-account-edit me-1"></i>
                                    <span>Настройки</span>
                                </a>

                                <a th:href="@{/choose_org}" class="dropdown-item">
                                    <i class="mdi mdi-account-convert me-1"></i>
                                    <span>Сменить организацию</span>
                                </a>

                                <!-- item-->
                                <a th:href="@{/logout}" class="dropdown-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Выйти</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ========== Topbar End ========== -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="leftside-menu">

                <!-- Brand Logo Light -->
                <a th:href="@{'/' + ${orgId}}" class="logo logo-light">
                    <span class="logo-lg">
                        <img th:src="@{/v3/images/logo.png}" alt="logo">
                    </span>
                    <span class="logo-sm">
                        <img th:src="@{/v3/images/logo-sm.png}" alt="small logo">
                    </span>
                </a>

                <!-- Brand Logo Dark -->
                <a th:href="@{'/' + ${orgId}}" class="logo logo-dark">
                    <span class="logo-lg">
                        <img th:src="@{/v3/images/logo-dark.png}" alt="dark logo">
                    </span>
                    <span class="logo-sm">
                        <img th:src="@{/v3/images/logo-dark-sm.png}" alt="small logo">
                    </span>
                </a>

                <!-- Sidebar Hover Menu Toggle Button -->
                <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
                    <i class="ri-checkbox-blank-circle-line align-middle"></i>
                </div>

                <!-- Full Sidebar Menu Close Button -->
                <div class="button-close-fullsidebar">
                    <i class="ri-close-fill align-middle"></i>
                </div>

                <!-- Sidebar -left -->
                <div class="h-100" id="leftside-menu-container" data-simplebar>
                    <!--- Sidemenu -->
                    <ul class="side-nav">
                        <li class="side-nav-title">Основное</li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId}}" class="side-nav-link">
                                <i class="uil-home-alt"></i>
                                <span class="badge bg-success float-end">5</span>
                                <span> Главная </span>
                            </a>
                        </li>

                        <li class="side-nav-title">Навигация</li>

                        <li class="side-nav-item menuitem-active">
                            <a data-bs-toggle="collapse" aria-expanded="true" aria-controls="sidebarStorageList" class="side-nav-link">
                                <i class="uil-window"></i>
                                <span> Продажи </span>
                            </a>
                            <div class="collapse show" id="sidebarStorageList">
                                <ul class="side-nav-second-level">
                                    <li th:each="warehouse : ${warehouses}" th:id="'warehouse-' + ${warehouse.getWarehouseId()}">
                                        <a th:href="'/' + ${orgId} + '/warehouse/sales?id=' + ${warehouse.getWarehouseId()}">
                                            <span th:text="${warehouse.getWarehouseName()}"/>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId} + '/warehouse/storage'}" class="side-nav-link">
                                <i class="uil-folder-plus"></i>
                                <span> Склады </span>
                            </a>
                        </li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId} +'/warehouse/transit'}" class="side-nav-link">
                                <i class="ri-truck-line"></i>
                                <span> Перемещение </span>
                            </a>
                        </li>

                        <li class="side-nav-title">Менеджмент</li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId} + '/item'}" class="side-nav-link">
                                <i class="uil-folder-plus"></i>
                                <span> Товары </span>
                            </a>
                        </li>

                        <!--- Administer2-->
                        <li class="side-nav-title">Администрирование</li>

                        <li class="side-nav-item">
                            <a th:href="@{'/' + ${orgId} + '/organization'}" class="side-nav-link">
                                <i class="ri-team-line"></i>
                                <span> Организация </span>
                            </a>
                        </li>
                        <!--- End Administer2-->
                    </ul>
                    <!--- End Sidemenu -->

                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- ========== Left Sidebar End ========== -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Start Content-->
                    <div class="container-fluid">
                        <!-- Modal for edit sale -->
                        <div id="edit-sale" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit-sale-label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="edit-sale-label">Добавить продажу</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div th:if="${itemQuantity != null}" class="mb-3">
                                            <label for="itemName" class="form-label">Товар</label>
                                            <select class="form-select" id="itemName" data-placeholder="Product">
                                                <option></option>
                                                <option th:each="item : ${itemQuantity.entrySet()}" th:text="${item.getKey().getItemName()}">
                                            </select>
                                        </div>
                                        <label id="itemQuantity" class="form-label"></label>
                                        <div class="mb-3">
                                            <label for="quantity" class="form-label">Количество</label>
                                            <input type="number" min="0" id="quantity" name="example-input-normal" class="form-control" placeholder="Кол-во:">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Закрыть</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="addSalesToWarehouse()">Добавить продажу</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <!-- Modal -->
                        <div id="add-success" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content modal-filled bg-success">
                                    <div class="modal-body p-4">
                                        <div class="text-center">
                                            <i class="ri-check-line h1"></i>
                                            <h4 class="mt-2">Готово!</h4>
                                            <p class="mt-3">Продажа успешно добавлена!</p>
                                            <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <div id="add-warning" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-body p-4">
                                        <div class="text-center">
                                            <i class="ri-alert-line h1 text-warning"></i>
                                            <h4 class="mt-2">Возникла ошибка</h4>
                                            <p class="mt-3">При добавлении продажи возникла непредвиденная ошибка.</p>
                                            <button type="button" class="btn btn-warning my-2" data-bs-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <div class="toast-container position-fixed bottom-0 end-0 p-3">
                            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header">
                                    <strong class="me-auto">ERPSystem</strong>
                                    <small>Только что</small>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                    Hello, world! This is a toast message.
                                </div>
                            </div>
                        </div>

                        <!-- Start page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb bg-light-lighten p-2 mb-0">
                                                <li class="breadcrumb-item"><a th:href="@{'/' + ${orgId} + '/warehouse/storage'}">Продажи</a></li>
                                                <li class="breadcrumb-item active" aria-current="page" th:text="${warehouseName}"/>
                                                <div class="something" th:text="${warehouseId}" hidden/>
                                            </ol>
                                        </nav>
                                    </div>
                                    <h4 class="page-title">Продажи</h4>
                                </div>
                            </div>
                        </div>

                        <!-- End page title -->

                        <div class="row">
                            <div class="col">
                                <div class="card mt-2">
                                    <div class="card-body">
                                        <div th:if="${itemSales != null}" class="table-responsive">
                                            <div class="d-flex flex-wrap gap-2">
                                                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#edit-sale">
                                                    <i class="mdi mdi-plus-circle me-2"></i>Добавить продажу
                                                </button>
                                            </div>
                                            <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                                <thead>
                                                    <tr>
                                                        <th>Товар</th>
                                                        <th>Категория</th>
                                                        <th>Дата продажи</th>
                                                        <th>Кол-во</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="sale : ${itemSales}">
                                                        <td th:text="${sale.getItem().getItemName()}"/>
                                                        <td th:text="${sale.getItem().getCategoryModel().getCategoryName()}"/>
                                                        <td th:text="${sale.getSaleDate().toLocaleString()}"/>
                                                        <td th:text="${sale.getItemSaleQuantity()}"/>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:unless="${itemSales != null}">
                                            Выбирете склад для просмотра продаж
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- container -->
                </div>
                <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> © SMART&Co.
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-md-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->
            </div>
            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->

        <!-- Vendor js -->
        <script th:src="@{/v3/js/vendor.min.js}"></script>

        <!-- App js -->
        <script th:src="@{/v3/js/app.min.js}"></script>

        <!-- Datatables js -->
        <script th:src="@{/v3/vendor/datatables.net/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/v3/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js}"></script>
        <script th:src="@{/v3/vendor/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/v3/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js}"></script>

        <!-- Input Mask Plugin js -->
        <script th:src="@{/v3/vendor/jquery-mask-plugin/jquery.mask.min.js}"></script>

        <script th:src="@{/v3/js/api/warehouse-script.js}"></script>

        <script>
            let saleTable = new DataTable('#basic-datatable', {
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/ru.json'
                },
                responsive: true
            });

            const toastLiveExample = document.getElementById('liveToast');
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
        </script>
    </body>
</html>